{{- $src := .Destination }}
{{- $res := "" }}
{{- $u := urls.Parse .Destination }}
{{- if not $u.IsAbs }}
  {{- $res = or (.Page.Resources.Get (strings.TrimPrefix "./" $u.Path)) (resources.Get $u.Path) }}
{{- end }}
{{- $w := 0 }}{{ $h := 0 }}
{{- with $res }}
  {{- $src = .RelPermalink }}
  {{- if in (slice "png" "jpeg" "jpg" "webp") .MediaType.SubType }}
    {{- $r := . }}
    {{- if gt .Width 1600 }}{{ $r = .Resize "1600x webp q82" }}{{ end }}
    {{- $src = $r.RelPermalink }}{{ $w = $r.Width }}{{ $h = $r.Height }}
  {{- end }}
{{- end }}
{{- $img := printf `<img src="%s" alt="%s"%s loading="lazy" decoding="async">` ($src | htmlEscape) (.PlainText | htmlEscape) (cond (gt $w 0) (printf ` width="%d" height="%d"` $w $h) "") | safeHTML }}
{{- if .IsBlock }}
<figure class="figure">
  {{ $img }}
  {{- with .Title }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>
{{- else }}{{ $img }}{{ end -}}
